# Lab. 1-1 Text2SQL Basic (Athena & Amazon S3)

#### 이 실습에서는 Text2SQL을 활용해서 S3에 저장된 데이터에 Athena 쿼리로 접근하는 방법을 실습합니다.

![Intro](../images/text2sql/athena-s3-1.png)


#### Amazon S3에 저장된 로그나 데이터마트에 자연어로 데이터를 조회하려는 경우, Text2SQL 및 Athena를 사용할 수 있습니다.

#### 여기서는 샘플 쿼리와 스키마 정보를 하나의 컨텍스트로 제공합니다. 데이터 접근 방식이 단순하고 사용자의 질문이 정형화 되어있는 경우, 이렇듯 가장 간단하게 Text2SQL을 시도할 수 있습니다.

## Step 0: S3 데이터 생성

In [5]:
# Athena 결과를 PySpark로 가져오는 예시
import os
import pandas as pd
import awswrangler as wr
#from pyathena import connect

In [249]:
bucket_name = "text2sql-db" #<your bucket name>
data_path = f"s3://{bucket_name}/data"
results_path = f"{bucket_name}/results"
db_name = "text2sql"

### Checking/Creating Glue Catalog Databases

In [248]:
wr.catalog.delete_database("text2sql")

In [250]:
if db_name not in wr.catalog.databases().values:
    wr.catalog.create_database(db_name)
    #wr.catalog.delete_database("text2sql")

### Creating a Parquet Table from or parquet files

In [251]:
import glob

In [252]:
conn = sqlite3.connect('Chinook.db')
cursor = conn.cursor()

def get_table_list():
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [table[0] for table in cursor.fetchall()]
    return tables

tables = get_table_list()
print("Tables:", tables)

# 연결 종료
conn.close()

Tables: ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

### Upload files to S3

In [253]:
import pandas as pd
import pyarrow as pa

for table in tables:
    # 전체 테이블을 DataFrame으로 읽기
    df = pd.read_sql_query(f'SELECT * FROM {table}', sqlite3.connect('Chinook.db'))
    
    wr.s3.to_parquet(
        df=df,
        path=os.path.join(data_path, table),
        dataset=True,
        mode="overwrite",
        database="text2sql",
        table=table
    )
    print (table)

Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track

In [256]:
query = """
SELECT *
FROM Customer
"""

df = wr.athena.read_sql_query(
    query,
    database="text2sql",
    ctas_approach=False
)
df

,customerid,firstname,lastname,company,address,city,state,country,postalcode,phone,fax,email,supportrepid
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,<NA>,Theodor-Heuss-Straße 34,Stuttgart,<NA>,Germany,70174,+49 0711 2842222,<NA>,leonekohler@surfeu.de,5
2,3,François,Tremblay,<NA>,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,<NA>,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,<NA>,Ullevålsveien 14,Oslo,<NA>,Norway,0171,+47 22 44 22 22,<NA>,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,<NA>,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,<NA>,Rilská 3174/6,Prague,<NA>,Czech Republic,14300,+420 2 4177 0449,<NA>,hholy@gmail.com,5
6,7,Astrid,Gruber,<NA>,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,<NA>,Austria,1010,+43 01 5134505,<NA>,astrid.gruber@apple.at,5
7,8,Daan,Peeters,<NA>,Grétrystraat 63,Brussels,<NA>,Belgium,1000,+32 02 219 03 03,<NA>,daan_peeters@apple.be,4
8,9,Kara,Nielsen,<NA>,Sønder Boulevard 51,Copenhagen,<NA>,Denmark,1720,+453 3331 9991,<NA>,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,<NA>,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,<NA>,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,<NA>,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,<NA>,dmiller@comcast.com,4
20,21,Kathy,Chase,<NA>,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,<NA>,kachase@hotmail.com,5
21,22,Heather,Leacock,<NA>,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,<NA>,hleacock@gmail.com,4
22,23,John,Gordon,<NA>,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,<NA>,johngordon22@yahoo.com,4
23,24,Frank,Ralston,<NA>,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,<NA>,fralston@gmail.com,3
24,25,Victor,Stevens,<NA>,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,<NA>,vstevens@yahoo.com,5
25,26,Richard,Cunningham,<NA>,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,<NA>,ricunningham@hotmail.com,4
26,27,Patrick,Gray,<NA>,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,<NA>,patrick.gray@aol.com,4
27,28,Julia,Barnett,<NA>,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,<NA>,jubarnett@gmail.com,5
28,29,Robert,Brown,<NA>,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,<NA>,robbrown@shaw.ca,3
29,30,Edward,Francis,<NA>,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,<NA>,edfrancis@yachoo.ca,3
30,31,Martha,Silk,<NA>,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,<NA>,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,<NA>,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,<NA>,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,<NA>,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,<NA>,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,<NA>,Rua da Assunção 53,Lisbon,<NA>,Portugal,<NA>,+351 (213) 466-111,<NA>,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,<NA>,"Rua dos Campeões Europeus de Viena, 4350",Porto,<NA>,Portugal,<NA>,+351 (225) 022-448,<NA>,masampaio@sapo.pt,4
35,36,Hannah,Schneider,<NA>,Tauentzienstraße 8,Berlin,<NA>,Germany,10789,+49 030 26550280,<NA>,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,<NA>,Berger Straße 10,Frankfurt,<NA>,Germany,60316,+49 069 40598889,<NA>,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,<NA>,Barbarossastraße 19,Berlin,<NA>,Germany,10779,+49 030 2141444,<NA>,nschroder@surfeu.de,3
38,39,Camille,Bernard,<NA>,"4, Rue Milton",Paris,<NA>,France,75009,+33 01 49 70 65 65,<NA>,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,<NA>,"8, Rue Hanovre",Paris,<NA>,France,75002,+33 01 47 42 71 71,<NA>,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,<NA>,"11, Place Bellecour",Lyon,<NA>,France,69002,+33 04 78 30 30 30,<NA>,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,<NA>,"9, Place Louis Barthou",Bordeaux,<NA>,France,33000,+33 05 56 96 96 96,<NA>,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,<NA>,"68, Rue Jouvence",Dijon,<NA>,France,21000,+33 03 80 73 66 99,<NA>,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,<NA>,Porthaninkatu 9,Helsinki,<NA>,Finland,00530,+358 09 870 2000,<NA>,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,<NA>,Erzsébet krt. 58.,Budapest,<NA>,Hungary,H-1073,<NA>,<NA>,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,<NA>,3 Chatham Street,Dublin,Dublin,Ireland,<NA>,+353 01 6792424,<NA>,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,<NA>,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,<NA>,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,<NA>,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,<NA>,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,<NA>,Ordynacka 10,Warsaw,<NA>,Poland,00-358,+48 22 828 37 39,<NA>,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,<NA>,C/ San Bernardo 85,Madrid,<NA>,Spain,28015,+34 914 454 454,<NA>,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,<NA>,Celsiusg. 9,Stockholm,<NA>,Sweden,11230,+46 08-651 52 52,<NA>,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,<NA>,202 Hoxton Street,London,<NA>,United Kingdom,N1 5LH,+44 020 7707 0707,<NA>,emma_jones@hotmail.com,3
52,53,Phil,Hughes,<NA>,113 Lupus St,London,<NA>,United Kingdom,SW1V 3EN,+44 020 7976 5722,<NA>,phil.hughes@gmail.com,3
53,54,Steve,Murray,<NA>,110 Raeburn Pl,Edinburgh,<NA>,United Kingdom,EH4 1HH,+44 0131 315 3300,<NA>,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,<NA>,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,<NA>,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,<NA>,307 Macacha Güemes,Buenos Aires,<NA>,Argentina,1106,+54 (0)11 4311 4333,<NA>,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,<NA>,"Calle Lira, 198",Santiago,<NA>,Chile,<NA>,+56 (0)2 635 4444,<NA>,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,<NA>,"12,Community Centre",Delhi,<NA>,India,110017,+91 0124 39883988,<NA>,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,<NA>,"3,Raj Bhavan Road",Bangalore,<NA>,India,560001,+91 080 22289999,<NA>,puja_srivastava@yahoo.in,3

## Step 0: 라이브러리 설치 및 Athena 연결

In [257]:
!python -m ensurepip --upgrade
!pip install "sqlalchemy" --quiet
!pip install "boto3>=1.34.116"  --quiet
!pip install "jinja2" --quiet
!pip install "botocore" --quiet
!pip install "pandas" --quiet
!pip install "PyAthena" --quiet
!pip install "faiss-cpu" --quiet

Looking in links: /tmp/tmp5ux0_h7_
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (75.1.0)
Requirement already satisfied: pip in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (24.2)

In [258]:
import json
import boto3
import sys

sys.path.append('../')
from libs.din_sql import din_sql_lib as dsl

In [259]:
ATHENA_CATALOG_NAME = 'AwsDataCatalog'
ATHENA_RESULTS_S3_LOCATION = results_path
DB_NAME = db_name

In [260]:
results_path

'text2sql-db/results'

In [261]:
from libs.din_sql import din_sql_lib as dsl
model_id = 'anthropic.claude-3-sonnet-20240229-v1:0'
din_sql = dsl.DIN_SQL(bedrock_model_id=model_id)

In [262]:
din_sql.athena_connect(
    catalog_name=ATHENA_CATALOG_NAME, 
    db_name=DB_NAME, 
    s3_prefix=ATHENA_RESULTS_S3_LOCATION
)

attempting to connect to athena database with connection string: awsathena+rest://:@athena.us-west-2.amazonaws.com:443/text2sql?s3_staging_dir=s3://text2sql-db/results&catalog_name=AwsDataCatalog
connected to database successfully.

## Step 1: 프롬프트 구성

In [263]:
return_sql= din_sql.find_fields(db_name=DB_NAME)
print(return_sql)

database name specified and found, inspecting only 'text2sql'
Table album, columns = [albumid,title,artistid]
Table artist, columns = [artistid,name]
Table customer, columns = [customerid,firstname,lastname,company,address,city,state,country,postalcode,phone,fax,email,supportrepid]
Table employee, columns = [employeeid,lastname,firstname,title,reportsto,birthdate,hiredate,address,city,state,country,postalcode,phone,fax,email]
Table genre, columns = [genreid,name]
Table invoice, columns = [invoiceid,customerid,invoicedate,billingaddress,billingcity,billingstate,billingcountry,billingpostalcode,total]
Table invoiceline, columns = [invoicelineid,invoiceid,trackid,unitprice,quantity]
Table mediatype, columns = [mediatypeid,name]
Table playlist, columns = [playlistid,name]
Table playlisttrack, columns = [playlistid,trackid]
Table track, columns = [trackid,name,albumid,mediatypeid,genreid,composer,milliseconds,bytes,unitprice]

In [264]:
import os
import os
import jinja2 as j

question = "Which customer spent the most money in the web store?"

instructions_tag_start = '<instructions>'
instructions_tag_end = '</instructions>'
example_tag_start = '<example>'
example_tag_end = '</example>'
sql_tag_start = '```sql'
sql_tag_end = '```'

template_dir = "../libs/din_sql/prompt_templates"

template_file = os.path.join(template_dir, 'basic_prompt.txt.jinja')
if not os.path.isfile(template_file):
    raise FileNotFoundError(f"Template file '{template_file}' not found")

JINJA_ENV = j.Environment(
    loader=j.FileSystemLoader(template_dir),
    autoescape=j.select_autoescape(
        enabled_extensions=('jinja'),
        default_for_string=True,
    )
)

easy_prompt = JINJA_ENV.get_template('basic_prompt.txt.jinja')
prompt = easy_prompt.render(
    instruction_tag_start=instructions_tag_start,
    instruction_tag_end=instructions_tag_end,
    fields=return_sql,
    example_tag_start=example_tag_start,
    example_tag_end=example_tag_end,
    test_sample_text=question,
    sql_tag_start=sql_tag_start,
    sql_tag_end=sql_tag_end
)
print(prompt)

<instructions>You are a relational database expert who can take a natural question and write a SQL statement that will answer the question. Use the the fields to generate the SQL queries for each of the questions. </instructions>

<fields>
Table album, columns = [albumid,title,artistid]
Table artist, columns = [artistid,name]
Table customer, columns = [customerid,firstname,lastname,company,address,city,state,country,postalcode,phone,fax,email,supportrepid]
Table employee, columns = [employeeid,lastname,firstname,title,reportsto,birthdate,hiredate,address,city,state,country,postalcode,phone,fax,email]
Table genre, columns = [genreid,name]
Table invoice, columns = [invoiceid,customerid,invoicedate,billingaddress,billingcity,billingstate,billingcountry,billingpostalcode,total]
Table invoiceline, columns = [invoicelineid,invoiceid,trackid,unitprice,quantity]
Table mediatype, columns = [mediatypeid,name]
Table playlist, columns = [playlistid,name]
Table playlisttrack, columns = [playlistid,trackid]
Table track, columns = [trackid,name,albumid,mediatypeid,genreid,composer,milliseconds,bytes,unitprice]

</fields>

<example>
Q: "Find the buildings which have rooms with capacity more than 50."
Schema_links: [classroom.building,classroom.capacity,50]
SQL: ```sqlSELECT DISTINCT building FROM classroom WHERE capacity  >  50```</example>

<example>
Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
Schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
SQL: ```sqlSELECT building ,  room_number FROM classroom WHERE capacity BETWEEN 50 AND 100```</example>

<example>
Q: "Give the name of the student in the History department with the most credits."
Schema_links: [student.name,student.dept_name,student.tot_cred,History]
SQL: ```sqlSELECT name FROM student WHERE dept_name  =  'History' ORDER BY tot_cred DESC LIMIT 1```</example>

<example>
Q: "Find the total budgets of the Marketing or Finance department."
Schema_links: [department.budget,department.dept_name,Marketing,Finance]
SQL: ```sqlSELECT sum(budget) FROM department WHERE dept_name  =  'Marketing' OR dept_name  =  'Finance'```</example>

<example>
Q: "Find the department name of the instructor whose name contains 'Soisalon'."
Schema_links: [instructor.dept_name,instructor.name,Soisalon]
SQL: ```sqlSELECT dept_name FROM instructor WHERE name LIKE '%Soisalon%'```</example>

<example>
Q: "What is the name of the department with the most credits?"
Schema_links: [course.dept_name,course.credits]
SQL: ```sqlSELECT dept_name FROM course GROUP BY dept_name ORDER BY sum(credits) DESC LIMIT 1```</example>

<example>
Q: "How many instructors teach a course in the Spring of 2010?"
Schema_links: [teaches.ID,teaches.semester,teaches.YEAR,Spring,2010]
SQL: ```sqlSELECT COUNT (DISTINCT ID) FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010```</example>

<example>
Q: "Find the name of the students and their department names sorted by their total credits in ascending order."
Schema_links: [student.name,student.dept_name,student.tot_cred]
SQL: ```sqlSELECT name ,  dept_name FROM student ORDER BY tot_cred```</example>

<example>
Q: "Find the year which offers the largest number of courses."
Schema_links: [SECTION.YEAR,SECTION.*]
SQL: ```sqlSELECT YEAR FROM SECTION GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1```</example>

<example>
Q: "What are the names and average salaries for departments with average salary higher than 42000?"
Schema_links: [instructor.dept_name,instructor.salary,42000]
SQL: ```sqlSELECT dept_name ,  AVG (salary) FROM instructor GROUP BY dept_name HAVING AVG (salary)  >  42000```</example>

<example>
Q: "How many rooms in each building have a capacity of over 50?"
Schema_links: [classroom.*,classroom.building,classroom.capacity,50]
SQL: ```sqlSELECT count(*) ,  building FROM classroom WHERE capacity  >  50 GROUP BY building```</example>

<example>
Q: "Find the names of the top 3 departments that provide the largest amount of courses?"
Schema_links: [course.dept_name,course.*]
SQL: ```sqlSELECT dept_name FROM course GROUP BY dept_name ORDER BY count(*) DESC LIMIT 3```</example>

<example>
Q: "Find the maximum and average capacity among rooms in each building."
Schema_links: [classroom.building,classroom.capacity]
SQL: ```sqlSELECT max(capacity) ,  avg(capacity) ,  building FROM classroom GROUP BY building```</example>

<example>
Q: "Find the title of the course that is offered by more than one department."
Schema_links: [course.title]
SQL: ```sqlSELECT title FROM course GROUP BY title HAVING count(*)  >  1```</example>

<example>
Q: "Which customer spent the most money in the web store?"

## Step 2: LLM을 사용해 쿼리 생성

In [265]:
import json
import boto3

bedrock_client = boto3.client(service_name='bedrock-runtime')

def llm_generation(prompt, stop_sequences=[], word_in_mouth=None):
    user_message =  {"role": "user", "content": prompt}
    messages = [user_message]
    if word_in_mouth:
        messages.append({
            "role": "assistant",
            "content": word_in_mouth,
        })
    response = bedrock_client.invoke_model(
        modelId=model_id,
        body=json.dumps({
            "anthropic_version": "bedrock-2023-05-31",
            "messages": messages,
            "temperature": 0,
            "max_tokens": 8000,
            "stop_sequences": stop_sequences,
            })
    )
    response_dict = json.loads(response.get('body').read().decode("utf-8"))
    results = response_dict["content"][0]["text"]
    return results

sql_qry = llm_generation(prompt)

In [266]:
SQL = sql_qry.split('```sql')[1].split('```')[0].strip()
print(f"{SQL}")

SELECT c.customerid, c.firstname, c.lastname, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customerid = i.customerid
GROUP BY c.customerid
ORDER BY total_spent DESC
LIMIT 1;

## Step 3: Athena 쿼리 실행

In [267]:
import pandas as pd
result_set = din_sql.query(SQL)
pd.DataFrame(result_set)

attempting to execute query:
SELECT c.customerid, c.firstname, c.lastname, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customerid = i.customerid
GROUP BY c.customerid
ORDER BY total_spent DESC
LIMIT 1;
Encountered SQLAlchemy error: (pyathena.error.OperationalError) EXPRESSION_NOT_AGGREGATE: line 1:22: 'c.firstname' must be an aggregate expression or appear in GROUP BY clause
[SQL: SELECT c.customerid, c.firstname, c.lastname, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customerid = i.customerid
GROUP BY c.customerid
ORDER BY total_spent DESC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8). Attempting to remediate.
Successfully invoked model anthropic.claude-3-sonnet-20240229-v1:0
```sql
SELECT c.customerid, c.firstname, c.lastname, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customerid = i.customerid
GROUP BY c.customerid, c.firstname, c.lastname
ORDER BY total_spent DESC
LIMIT 1;
```
revised SQL:

SELECT c.customerid, c.firstname, c.lastname, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customerid = i.customerid
GROUP BY c.customerid, c.firstname, c.lastname
ORDER BY total_spent DESC
LIMIT 1;

   customerid firstname lastname  total_spent
0           6    Helena     Holý        49.62

## Step 4: 쿼리 결과를 활용해 답변 - 생략

In [268]:
import pandas as pd
SQL = """
SELECT * FROM album
"""
result_set = din_sql.query(SQL)
pd.DataFrame(result_set)

attempting to execute query:

SELECT * FROM album

     albumid                                              title  artistid
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

#### 여기에서는 하나의 LLM 호출로 쿼리를 생성했으나, 사용자의 질문 유형에 따라 복잡한 쿼리를 생성해야 하는 경우 잘 동작하지 않을 것입니다.
#### 이후 실습에서는 이를 개선하는 방법에 대해 테스트합니다.